<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
  <form action="/new" method="post">
    <p>名前:<input type="text" name="user_name"></p>
    <p>本文:<input type="text" name="body"></p>
    <p> <input type="submit" value="投稿"></p>
  </form>
  
  <ul>
    <li>
      <p>投稿者(name)</p>
      <p>本文(body)</p>
    </li>
  </ul>
</body>
</html>
